form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
  }
  
  input,
  select {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 1rem;
  }
  
  button {
    background-color: #0077cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #005ba6;
    transform: translateY(-2px);
  }
  